

/*  CC - Global color palet */
 
:root {
    --beige: rgb(249, 242, 237);
    --blue: rgb(58, 176, 255);
    --orange: rgb(255, 181, 98);
    --red: rgb(248, 116, 116);
}

.hero{
    background-color: var(--red);
}

.button:hover{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: none;
}




#card-content1{
    flex: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center; 
}


#jokeCategory{
   text-align: center; 
}

.button{
    border-color: transparent;
    width: 40%;
    flex: auto;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
  
} 


#title{
    text-align: center;
    width: 40%;
    flex: auto;
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 40px;
} 

#card1{
      background-color: var(--beige);
}

#card-content{
    width:70%;
    flex: auto;
    margin:auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center; 
}

#blue{
    background-color: var(--red);
}

#blue2{
    color:white;
}

.button {
    width: fit-content;
    background-color: lightgray;
}