

/*  CC - Global color palet */
 
:root {
    --beige: rgb(255, 232, 215);
    --blue: rgb(58, 176, 255);
    --orange: rgb(255, 181, 98);
    --red: rgb(248, 116, 116);
}

body{
    background-color: var(--beige);
    margin: 2px;
    font-family: 'Bangers', sans-serif, serif, Arial;
    font-size: larger;
}



.card-content{
    flex: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

.button{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: transparent;
    width: 60%;
}

.button:hover{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: transparent;
    box-shadow: var(--blue) 0px 0px 5px 5px;
}

.hero{
    background-color: var(--orange);
  
    
}



.tabs{
    font-weight: bold;
    margin-bottom: black;
}

#local-storage {
  display:flex;
  flex-direction: column;
  justify-content: space-around;

}