 
:root {
    --beige: rgb(255, 232, 215);
    --blue: rgb(58, 176, 255);
    --orange: rgb(255, 181, 98);
    --red: rgb(248, 116, 116);
}

body{
    background-color: #7CD1B8;
    margin: 2px;
    font-family: 'Bangers', sans-serif, serif, Arial;
    font-size: larger;
}



.card-content{
    flex: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

.button{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: transparent;
    width: 60%;
    
}

.button:hover{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: transparent;
    box-shadow: var(--blue) 0px 0px 5px 5px;
}

.tabs{
    font-weight: bold;
    margin-bottom: black;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#local-storage {
  display:flex;
  flex-direction: column;
  justify-content: space-around;

}

#clear {
    font-family: 'Bangers', sans-serif, serif, Arial;
}

.button {
    border-radius: 8px;
    width: fit-content;
    background-color: lightgray;
    
}