/*  CC - Global color palet */
 
:root {
  --beige: rgb(249, 242, 237);
  --blue: rgb(58, 176, 255);
  --orange: rgb(255, 181, 98);
  --red: rgb(248, 116, 116);
}

body{
  background-color: var(--beige);
}

.card-content{
  flex: auto;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
}

.button{
  border-color: transparent;
}

.button:hover{
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: none;
}